@import 'colors.styl';
// Vuetify theme
@import '~vuetify/src/stylus/main.styl';

@import 'colors.styl';

@import './core/index.styl';
@import './layout/index.styl';
@import './components/index.styl';


// COLORS

// Darken-blue : #1E2037;
// Dark-blue : #272B48;
// Nav : #262C46;
// Blue : #567ebf;
// Turquoise : #6bb7c8;
// Grey : #E3E4E8;
// Red : #D64158;
