@require '../colors.styl'

.v-dialog{
  margin: 0;
    position: absolute;
    bottom: 0;

  &__content{
      position: absolute;
      bottom: 0;
  }

  .v-card{
    background-color: $blue-darken-1;

  }
}