@require '../colors.styl'

.grey--input{

  input{
    color: $grey !important;
    caret-color: $grey !important;
  }

  .v-label{
    color: $grey-darken !important;
  } 
  .v-input__slot{
    border: 2px solid $grey-darken !important;  
  }
}
