/* Les animations d'entrée (« enter ») et de sortie (« leave »)  */
/* peuvent utiliser différentes fonctions de durée et de temps.  */
.list-enter-active {
  transition: opacity .8s ease;
}
.list-leave-active {
  transition: opacity .8s ease;
}
.list-enter, .list-leave-to, .list-leave-active {
  //transform: translateX(-100%)
  opacity: 0;
}